<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie ie6" dir="ltr" lang="en-US"> <![endif]-->
<!--[if IE 7]>    <html class="ie ie7" dir="ltr" lang="en-US"> <![endif]-->
<!--[if IE 8]>    <html class="ie ie8" dir="ltr" lang="en-US"> <![endif]-->
<!--[if IE 9]>    <html class="ie ie9" dir="ltr" lang="en-US"> <![endif]-->
<!--[if IE 10]>   <html class="ie ie10" dir="ltr" lang="en-US"> <![endif]-->
<!--[if !IE]> --> <html dir="ltr" lang="en-US"> <![endif]-->
<head>
                
                <title>                        
                        Olho Morto Amarelo | Bruno Liberal
                </title> 
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />                
                
                
            <meta name="description" content="" />
                <meta name="keywords" content="" />
                                
                <meta name="author" content="Juliano Moreira Dasilva" />                
                <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">                                                                
                <link rel="shortcut icon" type="image/ico" href="favicon.ico" />                

                <link rel="stylesheet" type="text/css" href="assets/css/master.css" />
                <link rel="stylesheet" href="assets/css/responsive-nav.css">
                

                <!-- scripts (if possible place these scripts at the bottom) -->
                <!--[if lte IE 8]>
                        <script src="/assets/js/respond.min.js"></script>                
                <![endif]-->
                <!--[if lt IE 9]>
                <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
                <![endif]-->
                
                <!--[if gte IE 9]>
                  <style type="text/css">
                    .gradient {
                       filter: none;
                    }
                  </style>
                <![endif]-->        
                <!--[if IE]>
                        <link rel="stylesheet" type="text/css" href="/assets/css/ie.css" />
                <![endif]-->
                
                <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>                                        
                <script src="/assets/js/jquery.fittext.js"></script>                                

                <script type="text/javascript" src="//use.typekit.net/dfg0cgp.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
                

</head>

<body class="home">

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=136792563060477";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

        
<div class="one-cl col header-wrapper">
    <div class="header container">
      
      <div class="two-cl col">
        <img src="/assets/images/cover.png" class="book-cover" alt="Olho Morto Amarelo">
      </div>

      <div class="two-cl col">
          <h1 class="">Reserve seu livro!</h1>          
          
          <form action="http://brunoliberal.us3.list-manage.com/subscribe/post" method="POST">
          <input type="hidden" name="u" value="ebe7998054ea1a5dedadade55">
          <input type="hidden" name="id" value="d4ff43fbd2">
          <ul>
              <li>
                {!-- <label for="MERGE1">Nome</label> --}
                <input type="text" name="MERGE1" id="MERGE1" size="25" value="" placeholder="Nome">
              </li>
              <li>                
                {!-- <label for="MERGE0">Email</label> --}
                <input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value="" placeholder="Digite o seu e-mail">                 
              </li>
              <li>                                 
                 <input type="submit" class="button reserve-livro" name="submit" value="Reserve seu livro agora">
              </li>
              
              </ul>
          </form>
      </div>      

    </div>        
</div>

<div class="one-cl col sn-wrapper">
   <div class="sn container group">
    <h4>Compartilhe com seus amigos</h4>
    <ul>
      <li class="facebook">
        <div class="fb-like" data-href="http://www.brunoliberal.com" data-width="350" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
      </li>
    </ul>
    </div>
</div>


<div class="container">

<div class="row group texto">

  <h4 class="section-title">O Livro</h4>

  <div class="two-cl col">    
    <p>Olho morto amarelo foi o grande vencedor do I Prêmio Pernambuco de Literatura em 2013, concurso que premiou 5 escritores pernambucanos de regiões diferentes. O livro venceu na região Sertão e também o grande prêmio como melhor livro. É uma seleção de onze contos escritos entre outubro de 2012 e janeiro de 2013. “Gosto de retratar a velhice, a solidão, o egoísmo, o abandono, as escolhas que fazemos para viver em sociedade. Carrego a escrita no limite das fronteiras que observo na vida. São pequenos momentos que sustentam um peso simbólico e possibilitam uma reflexão mais profunda dos nossos costumes. Escrevo sobre o que me atormenta, incomoda. Sobre os meus fantasmas”.</p>
  </div>

  <div class="two-cl col">    
    <div class="download-conto">
        <h3 class="text-center">Leia o conto “O instante da nuvem negra”</h3>      
        <ul>                    
          <li>
            <p class="download-capitulo"><a href="assets/download/conto.pdf">Clique aqui pra baixar</a></p>            
          </li>
        </ul>  
    </div>
  </div>

</div> <!-- end row -->

</div> <!-- end container -->

<div class="testimonials-wrapper">
  
  <div class="row">

    <div class="container">
  
      <h4 class="section-title">Depoimentos</h4>
  
      <ul>
        <li class="group">
          <div class="pic">
            <img src="assets/images/t-everardo.png" />
          </div>
          <blockquote>
            <p>
              <span class="icon-quote-left"></span>
              Fiquei feliz com o resultado do Concurso Pernambuco de Literatura por ter premiado Bruno Liberal e, também, porque não dizer, pelo fato de ter contribuído um pouco para que isso acontecesse, através do Conselho da Cepe, editora cuja qualidade de suas publicações tem atualmente a marca da seriedade e da competência.
              Li vários livros do concurso, mas confesso que diante dos contos de Bruno, ainda escondido sob pseudônimo, senti um certo impacto. Vi logo que estava diante de uma escrita limpa, pouco comum, a de um autor que tinha um jeito especial de olhar nossas mazelas pela janela da simplicidade, que é, a meu ver, uma das características essenciais do escritor de talento.
            </p>
            <p class="author">Everardo Norões, <span>poeta, editor e crítico literário.</span></p>
          </blockquote>
        </li>
        <li class="group">
          <div class="pic">
            <img src="assets/images/t-wellington.png" alt="Wellington de Melo" />
          </div>
          <blockquote>
            <p>
              <span class="icon-quote-left"></span>
              O livro de Bruno Liberal é uma revelação que engrandece o Prêmio Pernambuco de Literatura. Nota-se a cada conto a preocupação do autor não só com a linguagem, mas em narrar histórias que ficam martelando dolorosamente na cabeça do leitor. Numa era de exercícios metanarrativos estéreis e de obras excessivamente pautadas pela autobiografia, Olho morto amarelo aparece como uma obra agradavelmente dissonante.
            </p>
            <p class="author">Wellington de Melo, <span>escritor</span></p>
          </blockquote>
        </li>
        <li class="group">
          <div class="pic">
            <img src="assets/images/t-elisabeth.png" alt="Elisabeth Goncalves" />
          </div>
          <blockquote>
            <p>
              <span class="icon-quote-left"></span>
              Qual o significado de um olho? Morto e amarelo?  Ou o seu contrário?
  
              Sim, porque fazendo parte de um dos contos do livro, Olho Morto Amarelo, de Bruno Liberal, há um olho recém aberto para o que seja a literatura contemporânea, viva e significativamente contada, em todos os tons da alma. Narrativas fortes, concisas, uma linguagem que não alisa, que não esfuma a realidade, antes nos coloca em relação com o texto de uma forma visceral em seu conteúdo, mas artisticamente construída.
  
              E é nesse processo de construção que vamos lendo Bruno Liberal, sempre mais produtivo, querendo mais, muito mais...
            </p>
            <p class="author">Elisabet Gonçalves Moreira, <span>Mestre em Teoria Literária e Literatura Comparada pela USP, professora da UPE aposentada e escritora</span></p>
          </blockquote>
        </li>            
  
     </ul>     
  
    </div> {!-- end container --}

  </div> {!-- end row --}
  
</div> {!-- end testimonials --} 

<div class="container">


<div class="row group">
   
  <div class="two-cl col">
    <h4 class="section-title">O Autor</h4>
    <img src="assets/images/avatar-brunoliberal.jpg" alt="" class="author-avatar" />    
    <p>Bruno Liberal é economista e escritor, estreou na literatura com o livro de contos "Sobre o tempo" (Editora Multifoco, 96 pgs). Seu segundo livro "Olho morto amarelo" foi o grande vencedor do I Prêmio Pernambuco de Literatura em 2013. Também venceu o I Prêmio internacional de literatura cartonera (Cephisa Cartonera-França), conquistando o terceiro lugar com o conto "Esse último sorriso". Vive em Petrolina-PE. </p>
  </div> 

  <div class="two-cl col">
    <h4 class="section-title">Entre em contato com autor</h4>    
    <p>Para entrar em contato com Bruno Liberal, o autor, {encode="bl.liberal@gmail.com" title="clique aqui!"}</p>    
  </div> 

</div> <!-- end row -->


<div class="row group"> 

  <h4 class="section-title">Apoio</h4>

  <div class="three-cl col">    
    <img src="/assets/images/apoio-secretaria-cultura.jpg" />
  </div>

  <div class="three-cl col">    
    <img src="/assets/images/apoio-fundarpe.jpg" />
  </div>

  <div class="three-cl col">    
    <img src="/assets/images/apoio-cepe.jpg" />
  </div>

</div> <!-- end row -->

<div class="row group"> 

  <h4 class="section-title">Editora</h4>

  <div class="one-cl col">    
    <p>
<strong>Companhia Editora de Pernambuco - Cepe </strong> <br />
<strong>Número de páginas:</strong> 94 <br />
<strong>Preço:</strong> R$20,00 <br />
<strong>Gênero:</strong> Contos
</p>
  </div>

</div> <!-- end row -->

<div class="row group"> 

  <div class="three-cl-centered panel">    
    
    <h3 class="">Reserve seu livro!</h3> 
      <form action="http://brunoliberal.us3.list-manage.com/subscribe/post" method="POST">
          <input type="hidden" name="u" value="ebe7998054ea1a5dedadade55">
          <input type="hidden" name="id" value="d4ff43fbd2">
          <ul>
              <li>
                {!-- <label for="MERGE1">Nome</label> --}
                <input type="text" name="MERGE1" id="MERGE1" size="25" value="" placeholder="Nome">
              </li>
              <li>                
                {!-- <label for="MERGE0">Email</label> --}
                <input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value="" placeholder="Digite o seu e-mail">                 
              </li>
              <li>                                 
                 <input type="submit" class="button reserve-livro" name="submit" value="Reserve seu livro agora">
              </li>
              
              </ul>
        </form>
  </div>

</div> <!-- end row -->


</div> <!-- end container -->

<footer class="footer">

  <p>copyright Bruno Liberal</p>

</footer>
                                           
<script src="/assets/js/jquery.flexslider.js"></script>                                
<script src="/assets/js/picturefill.js"></script>
<script src="/assets/js/modernizr-latest.min.js"></script>                                        
<script src="/assets/js/responsive-nav.min.js"></script>

<script type="text/javascript">
  $(window).load(function() {
    $('#main-slider').flexslider({
      animation: 'slide',      
      controlNav: true,               
      directionNav: true,
      slideshow: true
    });    
  });
</script>

        <script>
                //var nav = responsiveNav(".nav-collapse");
      var navigation = responsiveNav("#nav", {customToggle: "#toggle"});
        </script>
        </body>
</html>