<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie ie6" dir="ltr" lang="en-US"> <![endif]-->
<!--[if IE 7]>    <html class="ie ie7" dir="ltr" lang="en-US"> <![endif]-->
<!--[if IE 8]>    <html class="ie ie8" dir="ltr" lang="en-US"> <![endif]-->
<!--[if IE 9]>    <html class="ie ie9" dir="ltr" lang="en-US"> <![endif]-->
<!--[if IE 10]>   <html class="ie ie10" dir="ltr" lang="en-US"> <![endif]-->
<!--[if !IE]> --> <html dir="ltr" lang="en-US"> <![endif]-->
<head>
                
                <title>                        
                        Olho Morto Amarelo | Bruno Liberal
                </title> 
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />                
                
                
            <meta name="description" content="" />
                <meta name="keywords" content="" />
                                
                <meta name="author" content="Juliano Moreira Dasilva" />                
                <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">                                                                
                <link rel="shortcut icon" type="image/ico" href="favicon.ico" />                

                <link rel="stylesheet" type="text/css" href="assets/css/master.css" />
                <link rel="stylesheet" href="assets/css/responsive-nav.css">
                

                <!-- scripts (if possible place these scripts at the bottom) -->
                <!--[if lte IE 8]>
                        <script src="/assets/js/respond.min.js"></script>                
                <![endif]-->
                <!--[if lt IE 9]>
                <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
                <![endif]-->
                
                <!--[if gte IE 9]>
                  <style type="text/css">
                    .gradient {
                       filter: none;
                    }
                  </style>
                <![endif]-->        
                <!--[if IE]>
                        <link rel="stylesheet" type="text/css" href="/assets/css/ie.css" />
                <![endif]-->
                
                <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>                                        
                <script src="/assets/js/jquery.fittext.js"></script>                                

                <script type="text/javascript" src="//use.typekit.net/dfg0cgp.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
                

</head>

<body class="home">        
        
<div class="one-cl col header-wrapper">
    <div class="header container">
      
      <div class="two-cl col">
        <img src="/assets/images/book-cover.png" class="book-cover">
      </div>

      <div class="two-cl col">
          <h1 class="">Reserve sua cópia!</h1>
          <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In id vestibulum dolor, non aliquet augue. Class aptent taciti sociosqu ad litora torquent per conubia nostra. </p> 
          <ul>
              <li>
                <input type="text" name="username" value="" dir="ltr" id="username" maxlength="70" placeholder="Digite o seu e-mail aqui" />
              </li>
              <li>
                <input type="submit" name="submit" value="Reserve seu livro agora" class="submit reserve-livro" />
              </li>
           </ul>           
      </div>
      
    </div>        
</div>

<div class="one-cl col sn-wrapper">
   <div class="sn container group">
    <h4>Compartilhe com seus amigos</h4>
    <ul>
      <li><a href="#">Twitter</a></li>
      <li><a href="#">Facebook</a></li>
      <li><a href="#">Pinterest</a></li>
    </ul>
    </div>
</div>


<div class="container">

<div class="row group texto">

  <h4 class="section-title">O Texto</h4>

  <div class="two-cl col">    
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In id vestibulum dolor, non aliquet augue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean cursus ultrices mi non pretium. Proin non cursus ipsum. Suspendisse semper semper felis, ut posuere lectus tincidunt et. Maecenas rhoncus, velit sed eleifend hendrerit, velit felis luctus nisl, pharetra malesuada enim eros at dui. Mauris pharetra porta condimentum. Donec egestas nibh sed varius ornare. Velit sed eleifend hendrerit, velit felis luctus nisl, pharetra malesuada enim eros at dui. Mauris pharetra porta condimentum. Donec egestas nibh sed varius.</p>
  </div>

  <div class="two-cl col">    
    <div class="download-conto">
        <h3 class="text-center">Um capitulo pra você</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In id vestibulum dolor, non aliquet augue. Class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
        <ul>                    
          <li>
            <input type="submit" name="submit" value="Clique aqui pra baixar" class="submit download-capitulo" />
          </li>
        </ul>  
    </div>
  </div>

</div> <!-- end row -->

</div> <!-- end container -->

<div class="testimonials-wrapper">
  
  <div class="row">

    <div class="container">
  
      <h4 class="section-title">Testimonials</h4>
  
      <ul>
        <li class="group">
          <div class="pic">
            <img src="assets/images/t-everardo.png" />
          </div>
          <blockquote>
            <p>
              <span class="icon-quote-left"></span>
              Fiquei feliz com o resultado do Concurso Pernambuco de Literatura por ter premiado Bruno Liberal e, também, porque não dizer, pelo fato de ter contribuído um pouco para que isso acontecesse, através do Conselho da Cepe, editora cuja qualidade de suas publicações tem atualmente a marca da seriedade e da competência.
              Li vários livros do concurso, mas confesso que diante dos contos de Bruno, ainda escondido sob pseudônimo, senti um certo impacto. Vi logo que estava diante de uma escrita limpa, pouco comum, a de um autor que tinha um jeito especial de olhar nossas mazelas pela janela da simplicidade, que é, a meu ver, uma das características essenciais do escritor de talento.
            </p>
            <p class="author">Everardo Norões, <span>autor do Livro Chipanzé</span></p>
          </blockquote>
        </li>
        <li class="group">
          <div class="pic">
            <img src="assets/images/t-wellington.png" alt="Wellington de Melo" />
          </div>
          <blockquote>
            <p>
              <span class="icon-quote-left"></span>
              O livro de Bruno Liberal é uma revelação que engrandece o Prêmio Pernambuco de Literatura. Nota-se a cada conto a preocupação do autor não só com a linguagem, mas em narrar histórias que ficam martelando dolorosamente na cabeça do leitor. Numa era de exercícios metanarrativos estéreis e de obras excessivamente pautadas pela autobiografia, Olho morto amarelo aparece como uma obra agradavelmente dissonante.
            </p>
            <p class="author">Wellington de Melo, <span>escritor</span></p>
          </blockquote>
        </li>
        <li class="group">
          <div class="pic">
            <img src="assets/images/t-elisabeth.png" alt="Elisabeth Goncalves" />
          </div>
          <blockquote>
            <p>
              <span class="icon-quote-left"></span>
              Qual o significado de um olho? Morto e amarelo?  Ou o seu contrário?
  
              Sim, porque fazendo parte de um dos contos do livro, Olho Morto Amarelo, de Bruno Liberal, há um olho recém aberto para o que seja a literatura contemporânea, viva e significativamente contada, em todos os tons da alma. Narrativas fortes, concisas, uma linguagem que não alisa, que não esfuma a realidade, antes nos coloca em relação com o texto de uma forma visceral em seu conteúdo, mas artisticamente construída.
  
              E é nesse processo de construção que vamos lendo Bruno Liberal, sempre mais produtivo, querendo mais, muito mais...
            </p>
            <p class="author">Elisabet Gonçalves Moreira, <span>Mestre em Teoria Literária e Literatura Comparada pela USP, professora da UPE aposentada e escritora</span></p>
          </blockquote>
        </li>            
  
     </ul>     
  
    </div> {!-- end container --}

  </div> {!-- end row --}
  
</div> {!-- end testimonials --} 

<div class="container">


<div class="row group">
  
  <h4 class="section-title">O Autor</h4>

  <div class="one-cl col">
    <img src="assets/images/avatar-brunoliberal.jpg" alt="" class="author-avatar" />    
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In id vestibulum dolor, non aliquet augue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean cursus ultrices mi non pretium. Proin non cursus ipsum. Suspendisse semper semper felis, ut posuere lectus tincidunt et. Maecenas rhoncus, velit sed eleifend hendrerit, velit felis luctus nisl, pharetra malesuada enim eros at dui. Mauris pharetra porta condimentum. Donec egestas nibh sed varius ornare. Velit sed eleifend hendrerit, velit felis luctus nisl, pharetra malesuada enim eros at dui. Mauris pharetra porta condimentum. Donec egestas nibh sed varius.</p>
  </div> 

</div> <!-- end row -->


<div class="row group"> 

  <h4 class="section-title">Apoio</h4>

  <div class="three-cl col">    
    <img src="/assets/images/apoio-secretaria-cultura.jpg" />
  </div>

  <div class="three-cl col">    
    <img src="/assets/images/apoio-fundarpe.jpg" />
  </div>

  <div class="three-cl col">    
    <img src="/assets/images/apoio-cepe.jpg" />
  </div>

</div> <!-- end row -->

<div class="row group"> 

  <h4 class="section-title">Editora</h4>

  <div class="one-cl col">    
    <p>
<strong>Companhia Editora de Pernambuco - Cepe </strong> <br />
<strong>Número de páginas:</strong> 94 <br />
<strong>Preço:</strong> R$20,00 <br />
<strong>Gênero:</strong> Contos
</p>
  </div>

</div> <!-- end row -->

<div class="row group"> 

  <div class="three-cl-centered panel">    
    
    <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In id vestibulum dolor, non aliquet augue. Class aptent taciti sociosqu ad litora torquent per conubia nostra. </p> 
    <ul>
        <li>
          <input type="text" name="username" value="" dir="ltr" id="username" maxlength="70" placeholder="Digite o seu e-mail aqui" />
        </li>
        <li>
          <input type="submit" name="submit" value="Reserve seu livro agora" class="submit reserve-livro" />
        </li>
     </ul> 

  </div>

</div> <!-- end row -->


</div> <!-- end container -->

<footer class="footer">

  <p>copyright Bruno Liberal</p>

</footer>
                                           
<script src="/assets/js/jquery.flexslider.js"></script>                                
<script src="/assets/js/picturefill.js"></script>
<script src="/assets/js/modernizr-latest.min.js"></script>                                        
<script src="/assets/js/responsive-nav.min.js"></script>

<script type="text/javascript">
  $(window).load(function() {
    $('#main-slider').flexslider({
      animation: 'slide',      
      controlNav: true,               
      directionNav: true,
      slideshow: true
    });    
  });
</script>

        <script>
                //var nav = responsiveNav(".nav-collapse");
      var navigation = responsiveNav("#nav", {customToggle: "#toggle"});
        </script>
        </body>
</html>